#rating-and-hosting {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 16px;

    & #rating {
        margin-right: auto;
        width: 98px;
        height: 18px;

        & svg {
            @include width-height-100;
        }
    }

    & #host-detail {
        display: flex;

        & #host {
            display: grid;
            margin-right: 10px;
            text-align: end;
            color: $default-pink;
            font-size: 12px;
            font-weight: 500;
        }

        & #host-picture {
            position: relative;
            width: 32px;
            height: 32px;
            border-radius: $round-radius;
            overflow: hidden;

            & img {
                @include absolute-centered;
                width: 100%;
                border-radius: $round-radius;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #rating-and-hosting {
        @include flex-space-between;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: auto;
        margin-top: 0;

        & #rating {
            width: 196px;
            height: 36px;
        }

        & #host-detail {
            place-items: center;

            & #host {
                font-size: 18px;
            }

            & #host-picture {
                width: 64px;
                height: 64px;
            }
        }
    }
}