#dropdown-hosting {
    display: grid;
    gap: 20px;
    margin-top: 13.5px;
    margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
    #dropdown-hosting {
        display: flex;
        margin-top: 24px;
        margin-bottom: 50px;
    }
}