@import "../../style/mixins";
@import "../../style/variables";

// Header.jsx
#general-header {
    @include size-section;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
        min-width: 145px;
        max-width: 42%;
        & svg {
            width: 100%;
        }
    }

    & nav {
        max-width: 58%;

        &>* {
            white-space: nowrap;
            font-weight: 500;
            padding-left: 26px;
            font-size: 0.75rem;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}

@media screen and (max-width: 375px) {
    #general-header {
        & nav {
            display: grid;
        }
    }
}

@media screen and (min-width: 768px) {
    #general-header {
        margin-top: 45px;

        & nav {
            & a {
                text-transform: capitalize;
                font-size: 1.5rem;
            }
        }
    }
}

