@mixin grid-all-center {
    display: grid;
    place-content: center;
    place-items: center;
}

@mixin grid-item-center {
    display: grid;
    place-items: center;
}

@mixin absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin size-section {
    max-width: min(90%, 1240px);
    margin: auto;
}

@mixin black-filter {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $default-black;
}

@mixin width-height-100{
    width: 100%;
    height: 100%;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}