// Components
@import "../components/Banner/Banner";
@import "../components/Header/Header";
@import "../components/Footer/Footer";
@import "../components/Dropdown/Dropdown";
@import "../components/DropdownAbout/DropdownAbout";
@import "../components/HostingGallery/HostingGallery";
@import "../components/Carousel/Carousel";
@import "../components/DropdownHosting/DropdownHosting";
@import "../components/HostingTitle/HostingTitle";
@import "../components/RatingAndHosting/RatingAndHosting";
@import "../components/TagsContainer/TagsContainer";
@import "../components/Detail/Detail";
// Style
@import "../style/mixins";
@import "../style/variables";

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}

ul,
ol,
li {
    list-style: none;
}

.img-filter-light {
    @include black-filter;
    opacity: 0.3;
}

.img-filter {
    @include black-filter;
    opacity: 0.6;
}

#error-page {
    @include grid-item-center;
    gap: 113px;
    margin: 113px 0;

    & h1 {
        color: $default-pink;
        font-size: 96px;
    }

    & p {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: $default-pink;
        width: 260px;

        & span {
            width: 100%;
        }
    }

    & a {
        text-decoration: underline;
        font-size: 14px;
    }
}
// #error-page media queries
@media screen and (min-width: 768px) {
    #error-page {
        gap: 139px;
        margin: 139px 0;

        & h1 {
            font-size: 288px;
            height: 263px;
            line-height: 100%;
        }

        & p {
            width: auto;
            font-size: 36px;
            margin: 0 16px;
        }

        & a {
            font-size: 18px;
        }
    }
}

#hosting-main {
    @include size-section;
}