#title-location {
    margin-top: 15px;

    & h2 {
        color: $default-pink;
        font-size: 18px;
        font-weight: 500;
    }

    & h3 {
        margin-top: 5px;
        color: $default-black;
        font-size: 14px;
        font-weight: 500;
    }
}

@media screen and (min-width: 768px) {
    #title-location {
        margin-top: 0;

        & h2 {
            font-size: 36px;
        }
    }
}