* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


#general-header {
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 335px;
    max-width: min(90%, 1240px);

    & svg {
        min-width: 145px;
    }

    & nav {
        min-width: 190px;
        & > * {
        font-weight: 500;
        padding-left: 26px;
        font-size: 0.8rem;
        // & Mobile 
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
        }
    }

}