@import "../../style/mixins";
@import "../../style/variables";

// Banner.jsx
.banner {
    position: relative;
    min-width: 335px;
    max-width: min(90%, 1240px);
    overflow: hidden;
    border-radius: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: auto;
    margin-top: 27px;
    height: 111px;

    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    & .img-filter {
        height: 100%;
        background-color: #000;
        opacity: 0.6;
    }

    & .img-filter-light {
        height: 100%;
        background-color: #000;
        opacity: 0.3;
    }

    & .title-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        & h1 {
            width: 225px;
            color: $default-white;
            margin: 0 16px;
        }
    }

    @media screen and (min-width: 768px) {
        margin-top: 50px;
        height: 223px;

        & .title-container {
            & h1 {
                font-size: 48px;
                width: 100%;
                text-align: center;
            }
        }
    }
}