@import "../../style/mixins";
@import "../../style/variables";

// Banner.jsx
.banner {
    @include size-section;
    position: relative;
    overflow: hidden;
    border-radius: $m-radius;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 27px;
    height: 111px;

    & img {
        @include absolute-centered;
        width: 100%;
    }

    & .title-container {
        @include absolute-centered;
        @include width-height-100;
        display: flex;
        align-items: center;
        z-index: 2;

        & h1 {
            width: 225px;
            color: $default-white;
            margin: 0 16px;
        }
    }
}

@media screen and (min-width: 768px) {
    .banner {
        margin-top: 50px;
        height: 223px;

        & .title-container {
            & h1 {
                font-size: 48px;
                width: 100%;
                text-align: center;
            }
        }
    }
}